@model ConfirmationModel

@{           
    ViewData["Title"] = "Mobile phone confirmation";
}

<h1>Mobile phone confirmation</h1>

<p>
    Enter <em>confirmation code</em> from SMS.
</p>

<form action="@Url.Action(nameof(OrderController.Confirmate))" method="post">
    <input type="hidden" name="id" value="@Model.OrderId" />
    <input type="hidden" name="cellPhone" value="@Model.CellPhone" />
    <div class="form-group">
        <label for="code">Confirmation code</label>
        @if (Model.Errors.ContainsKey("code"))
        {
            <small class="form-text text-danger">@Model.Errors["code"]</small>
        }
        <input type="text" class="form-control" name="code" placeholder="0000" />
    </div>
    <button type="submit" class="btn btn-success">Check</button>
</form>

<form action="@Url.Action(nameof(OrderController.SendConfirmationCode))" method="post">
    <input type="hidden" name="id" value="@Model.OrderId" />
    <div class="form-group">
        <label for="cellPhone">Мобильный телефон</label>
        <input type="text" class="form-control" name="cellPhone" value="@Model.CellPhone" />
    </div>
    <button type="submit" class="btn btn-success">Repeat</button>
</form>